# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env & local config
.env
.env.*.local

# Logs & runtime
logs/
*.log
*.out
*.pid
pids/
*.pid.lock

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp

# Builds/coverage (if added later)
dist/
build/
coverage/

# NSSM binaries if you drop them here
nssm.exe
nssm/
